[Unit]
Description=Trading Bot Fest Service
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/TradingBotFest
ExecStart=%h/TradingBotFest/.venv/bin/python3 %h/TradingBotFest/wsbin.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
