[Unit]
Description=Trading Bot Fest Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/TradingBotFest
ExecStart=/root/TradingBotFest/.venv/bin/python3 wsbin.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
