{
    "strategy": "CARDIAC",
    "symbol": "NONE",
    "input_side": "LONG",
    "price_precision": 0,
    "quantity_precision": 0,
    "tick_size": 0,
    "step_size": 0,
    "LONG": {
        "risk": {
            "percentage": 10,
            "amount": 10,
            "wallet_balance_usdt": 0.0,
            "stop_loss_amount": 10
        },
        "entry_line": {
            "label": "ENTRY",
            "side": "BUY",
            "position_side": "LONG",
            "type": "LIMIT",
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NONE"
        },
        "take_profit_line": {
            "enabled": true,
            "label": "TAKE_PROFIT",
            "side": "SELL",
            "position_side": "LONG",
            "type": "TAKE_PROFIT_MARKET",
            "distance": 1,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NONE"
        },
        "unload_line": {
            "enabled": true,
            "label": "UNLOAD",
            "side": "SELL",
            "position_side": "LONG",
            "type": "LIMIT",
            "distance": 0.25,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NONE"
        },
        "stop_loss_line": {
            "enabled": true,
            "label": "STOP_LOSS",
            "side": "SELL",
            "position_side": "LONG",
            "type": "STOP_MARKET",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NONE"
        },
        "current_line": {
            "price": 0,
            "distance": 0,
            "quantity": 0,
            "position_side": "LONG"
        }
    },
    "SHORT": {
        "risk": {
            "percentage": 10,
            "amount": 10,
            "wallet_balance_usdt": 0.0,
            "stop_loss_amount": 10
        },
        "entry_line": {
            "label": "ENTRY",
            "side": "SELL",
            "position_side": "SHORT",
            "type": "LIMIT",
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NONE"
        },
        "take_profit_line": {
            "enabled": true,
            "label": "TAKE_PROFIT",
            "side": "BUY",
            "position_side": "SHORT",
            "type": "TAKE_PROFIT_MARKET",
            "distance": 1,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NONE"
        },
        "unload_line": {
            "enabled": true,
            "label": "UNLOAD",
            "side": "BUY",
            "position_side": "SHORT",
            "type": "LIMIT",
            "distance": 0.25,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NONE"
        },
        "stop_loss_line": {
            "label": "STOP_LOSS",
            "side": "BUY",
            "position_side": "SHORT",
            "type": "STOP_MARKET",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NONE"
        },
        "current_line": {
            "price": 0,
            "distance": 0,
            "quantity": 0,
            "position_side": "SHORT"
        }
    }
}