{
    "strategy": "RECOVERY_ZONE",
    "symbol": "NONE",
    "input_side": "NONE",
    "price_precision": 0,
    "quantity_precision": 0,
    "tick_size": 0,
    "step_size": 0,
    "risk": {
            "wallet_balance_usdt": 0.0,
            "min_risk": 1,
            "max_risk": 10,
            "target_factor": 2,
            "product_factor": 1.5,
            "reduce_hedge": 50
    },
    "LONG": {
        "hedge_line": {
            "enabled": true,
            "label": "HEDGE LONG",
            "side": "BUY",
            "type": "STOP_MARKET",
            "position_side": "LONG",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW",
            "close_position": false
        },
        "recovery_line": {
            "enabled": true,
            "label": "RECOVERY LINE",
            "side": "BUY",
            "type": "STOP_MARKET",
            "position_side": "LONG",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW",
            "close_position": false
        },
        "take_profit_line": {
            "enabled": true,
            "label": "TAKE_PROFIT",
            "side": "SELL",
            "position_side": "LONG",
            "type": "TAKE_PROFIT_MARKET",
            "distance": 0.5,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW",
            "close_position": true
        },
        "stop_loss_line": {
            "enabled": true,
            "label": "STOP_LOSS",
            "side": "SELL",
            "position_side": "LONG",
            "type": "STOP_MARKET",
            "distance": 0.5,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW",
            "close_position": true
        },
        "break_even_line": {
            "entry": "BREAK_EVEN_LONG",
            "side": "SELL",
            "position_side": "LONG",
            "win_distance": 0.0,
            "lost_distance": 0.0,
            "price": 0,
            "win_quantity": 0,
            "lost_quantity": 0,
            "win_cost": 0,
            "lost_cost": 0
        },
        "entry_line": []
    },
    "SHORT": {
        "hedge_line": {
            "enabled": true,
            "label": "ENTRY_SHORT",
            "side": "SELL",
            "type": "LIMIT",
            "position_side": "SHORT",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW",
            "close_position": false
        },
        "recovery_line": {
            "enabled": true,
            "label": "RECOVERY SHORT",
            "side": "SELL",
            "type": "STOP_MARKET",
            "position_side": "SHORT",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW",
            "close_position": false
        },
        "take_profit_line": {
            "enabled": true,
            "label": "TAKE_PROFIT",
            "side": "BUY",
            "position_side": "SHORT",
            "type": "TAKE_PROFIT_MARKET",
            "distance": 0.5,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW",
            "close_position": true
        },
        "stop_loss_line": {
            "enabled": true,
            "label": "STOP_LOSS",
            "side": "BUY",
            "position_side": "SHORT",
            "type": "STOP_MARKET",
            "distance": 0.5,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW",
            "close_position": true
        },
        "break_even_line": {
            "entry": "BREAK_EVEN_SHORT",
            "side": "BUY",
            "position_side": "SHORT",
            "win_distance": 0.0,
            "lost_distance": 0.0,
            "price": 0,
            "win_quantity": 0,
            "lost_quantity": 0,
            "win_cost": 0,
            "lost_cost": 0
        },
        "entry_line": []
    }
}