{
    "strategy": "RECOVERY_ZONE",
    "symbol": "NONE",
    "position_side": "NONE",
    "price_precision": 0,
    "quantity_precision": 0,
    "tick_size": 0,
    "step_size": 0,
    "wallet_balance_usdt": 0.0,
    "risk": 1,
    "max_risk": 5,
    "target_factor": 2,
    "product_factor": 1.5,
    "long": {
        "entry_line": {
            "enabled": true,
            "label": "IN",
            "side": "BUY",
            "type": "NONE",
            "position_side": "LONG",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "order_id": 0,
            "status": "NONE",
            "client_order_id": ""
        },
        "tp_line": {
            "entry": "TP",
            "side": "SELL",
            "position_side": "LONG",
            "distance": 0.005,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "order_id": 0,
            "status": "NEW",
            "client_order_id": "NONE"
        },
        "tp_break_even_line": {
            "entry": "SL",
            "side": "NONE",
            "position_side": "LONG",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "order_id": 0,
            "status": "NEW",
            "client_order_id": "NONE"
        },
        "sl_line": {
            "entry": "HD",
            "side": "NONE",
            "position_side": "NONE",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "order_id": 0,
            "status": "NONE",
            "client_order_id": "NONE"
        },
        "sl_break_even_line": {
            "entry": "HD",
            "side": "NONE",
            "position_side": "NONE",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "order_id": 0,
            "status": "NONE",
            "client_order_id": "NONE"
        }
    },
    "short":{
        "entry_line": {
            "enabled": true,
            "label": "IN",
            "side": "SELL",
            "type": "NONE",
            "position_side": "SHORT",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "order_id": 0,
            "status": "NONE",
            "client_order_id": ""
        },
        "tp_line": {
            "entry": "TP",
            "side": "SELL",
            "position_side": "LONG",
            "distance": 0.005,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "order_id": 0,
            "status": "NEW",
            "client_order_id": "NONE"
        },
        "tp_break_even_line": {
            "entry": "SL",
            "side": "NONE",
            "position_side": "LONG",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "order_id": 0,
            "status": "NEW",
            "client_order_id": "NONE"
        },
        "sl_line": {
            "entry": "HD",
            "side": "NONE",
            "position_side": "NONE",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "order_id": 0,
            "status": "NONE",
            "client_order_id": "NONE"
        },
        "sl_break_even_line": {
            "entry": "HD",
            "side": "NONE",
            "position_side": "NONE",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "order_id": 0,
            "status": "NONE",
            "client_order_id": "NONE"
        }

    }
}