{
    "strategy": "THE_LOAD_UNLOAD_GRID",
    "symbol": "NONE",
    "input_side": "NONE",
    "price_precision": 0,
    "quantity_precision": 0,
    "tick_size": 0,
    "step_size": 0,
    "LONG":{
        "risk": {
            "wallet_balance_usdt": 0.0,
            "percentage": 10,
            "risk_amount": 0,
            "grid_distance": 2,
            "quantity_increment": 40,
            "stop_loss_amount": 10
        },
        "entry_line": {
            "enabled": true,
            "label": "ENTRY",
            "side": "BUY",
            "position_side": "LONG",
            "type": "LIMIT",
            "price": 0.0,
            "quantity": 0.0,
            "cost": 0,
            "status": "NEW"
        },
        "take_profit_line": {
            "enabled":true,
            "label": "TAKE_PROFIT",
            "side": "SELL",
            "position_side": "LONG",
            "type": "TAKE_PROFIT_MARKET",
            "distance": 5,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW"
        },
        "unload_line": {
            "enabled":true,
            "label": "UNLOAD",
            "side": "SELL",
            "position_side": "LONG",
            "type": "LIMIT",
            "distance": 0.5,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW"
        },
        "stop_loss_line": {
            "enabled":true,
            "label": "STOP_LOSS",
            "side": "SELL",
            "position_side": "LONG",
            "type": "STOP_MARKET",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW"
        },
        "average_line": {
            "price": 0,
            "quantity": 0,
            "sl_distance": 0
        },
        "current_line": {
            "enabled": true,
            "label": "CURRENT LINE",
            "side": "BUY",
            "position_side": "LONG",
            "type": "LIMIT",
            "price": 0.0,
            "quantity": 0.0,
            "cost": 0,
            "status": "NEW"
        },
        "body_line": []
    },
    "SHORT":{
        "risk": {
            "wallet_balance_usdt": 0.0,
            "percentage": 10,
            "risk_amount": 0,
            "grid_distance": 2,
            "quantity_increment": 40,
            "stop_loss_amount": 10
        },
        "entry_line": {
            "enabled": true,
            "label": "ENTRY",
            "side": "SELL",
            "position_side": "SHORT",
            "type": "LIMIT",
            "price": 0.0,
            "quantity": 0.0,
            "cost": 0,
            "status": "NEW"
        },
        "take_profit_line": {
            "enabled": true,
            "label": "TAKE_PROFIT",
            "side": "BUY",
            "position_side": "SHORT",
            "type": "TAKE_PROFIT_MARKET",
            "distance": 5,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW"
        },
        "unload_line": {
            "enabled": true,
            "label": "UNLOAD",
            "side": "BUY",
            "position_side": "SHORT",
            "type": "LIMIT",
            "distance": 0.5,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW"
        },
        "stop_loss_line": {
            "enabled": true,
            "label": "STOP_LOSS",
            "side": "BUY",
            "position_side": "SHORT",
            "type": "STOP_MARKET",
            "distance": 0,
            "price": 0,
            "quantity": 0,
            "cost": 0,
            "status": "NEW"
        },
        "average_line": {
            "price": 0,
            "quantity": 0,
            "sl_distance": 0
        },
        "current_line": {
            "enabled": true,
            "label": "CURRENT LINE",
            "side": "SELL",
            "position_side": "SHORT",
            "type": "LIMIT",
            "price": 0.0,
            "quantity": 0.0,
            "cost": 0,
            "status": "NEW"
        },
        "body_line": []
    }
}